<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Controle de Estoque</h1>
    <div class="header-actions">
      <button mat-flat-button color="primary" routerLink="/painel-adm" *ngIf="auth.temRole('administrador')">
        <mat-icon style="margin-right: 8px;">admin_panel_settings</mat-icon>
        PAINEL ADM
      </button>
      <button mat-stroked-button color="warn" (click)="logout()">
        <mat-icon style="margin-right: 8px;">logout</mat-icon>
        SAIR
      </button>
    </div>
  </header>

  @if (isLoading()) {
    <div class="loading">
      <p>Carregando catálogo de produtos...</p>
    </div>
  } @else {
    <div class="product-grid">
      @for (produto of produtos(); track produto.id) {
      <mat-card class="product-card">
        <div class="image-container">
          <img [src]="produto.image" [alt]="produto.title" class="product-image" />
        </div>
        
        <mat-card-content style="padding: 20px; display: flex; flex-direction: column; flex-grow: 1;">
          <div class="category-tag">{{ produto.category }}</div>
          <h3 class="product-title" [title]="produto.title">{{ produto.title }}</h3>
          <p class="description">
            {{ produto.description }}
          </p>
          
          <div class="spacer"></div>

          <div class="price-container">
            <span class="price-label">Preço</span>
            <span class="price-value">{{ produto.price | currency }}</span>
          </div>
        </mat-card-content>

        <div class="card-actions">
          <button mat-stroked-button color="primary" style="flex: 1;">DETALHES</button>
          <button mat-flat-button color="accent" class="btn-buy">
            <mat-icon style="margin-right: 4px;">shopping_cart</mat-icon>
            COMPRAR
          </button>
        </div>
      </mat-card>
      }
    </div>
  }
</div>
