<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Dashboard de Produtos</h1>
    <div class="header-actions">
      <button mat-button color="accent" routerLink="/painel-adm" *ngIf="auth.temRole('administrador')">PAINEL ADM</button>
      <button mat-button color="warn" (click)="logout()">LOGOUT</button>
    </div>
  </header>

  @if (isLoading()) {
    <div class="loading">
      <p>Carregando produtos, por favor aguarde...</p>
    </div>
  } @else {
    <div class="product-grid">
      @for (produto of produtos(); track produto.id) {
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>{{ produto.title }}</mat-card-title>
          <mat-card-subtitle>{{ produto.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="produto.image" [alt]="produto.title" class="product-image" />
        <mat-card-content>
          <p class="description">
            {{ produto.description }}
          </p>
          <p class="price">Preço: {{ produto.price | currency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>DETALHES</button>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  }
</div>
